<!DOCTYPE html>
<html>
<head>
  <title>Ritly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		<ul class="nav pull-right">
            <% if signed_in? %>
              <li><%= link_to "My profile", current_user %></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            <% else %>
              <li><%= link_to "Sign up", signup_path %></li>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
        </ul>
	</nav>

<%= yield %>

</body>
</html>
